<mat-card class="page" >
  <mat-card-title class="title">
   Shopping List
  </mat-card-title>

  <div  id="myDIV" class="header">
              <input type="text"  class="form-control" id="myInput" placeholder="Enter Items" [(ngModel)]="task.name"/>
              <button class="btn btn-primary" type="button" (click)="onClick()">ADD</button>
  </div>
          <ul class="list-group" id="myUL">
            <li *ngFor="let task of tasks" class="list-group-item">
                <span (click)="onStrike(task)" [ngClass]=
                "{'strike': task.strike}">{{ task.name }}
                </span>
                <span (click)="onDelete(task)" id="close" class="glyphicon glyphicon-remove floatright paddingLeft"></span>
                <span (click)="onEdit(task)" id="edit" class="glyphicon glyphicon-pencil floatright"></span>
            </li>
        </ul>


    </mat-card>

